[submodule "lodestone-css-selectors"]
	path = lodestone-css-selectors
	url = https://github.com/karashiiro/lodestone-css-selectors
[submodule "lodestone-data-exports"]
	path = lodestone-data-exports
	url = https://github.com/karashiiro/lodestone-data-exports.git
